<div class="messenger-history">
    <div *ngFor="let message for chatRoom.messages"
         [class.message-own] = "message.user === currentUser"
         class="messahe-buble">
        {{message.text}}
    </div>
</div>
<form class="messanger-inputs" [formGroup]="newMessage" (ngSubmit)="sendMessage()">
    <mat-form-field class="messanger-text-input">
        <input matInput placeholder="Type message here..." formControlName="text">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" class="messanger-send-button">Send</button>
</form>